{% extends "base.html" %}
{% block content %}
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
    <div class="container pt-2; background-color: white;">

        <h3>About Scrape</h3>
        <hr>
        <p style="text-align: justify;">
            Scrape is a South African website that was created to be a
            hub for meaningful South African media content, a hub for
            investment requests, small businesses exposure, local sports updates,
            agriculture information and education from farmers, local music,
            cultural awareness and South African tourism sites.
        </p>

        <p style="text-align: justify;">
            Many people argued that local sports also deserves publicity because
            athletes start somewhere before participating on the bigger stage.
            There are huge sporting leagues withing local sports that deserves publicity to
            give young athletes a chance to be recognized nationally for their
            efforts. Women sporting events do not receive as much coverage as men's sporting
            events and we believe in equality. Broadcasting the sporting events might be
            costly to the SABC and making it almost impossible to broadcast many
            sporting events. We want to give athletes as much publicity as we can because
            regardless of which sport is the most popular in our country, the youth need to
            partake in any sporting event that they might be interested in and they must
            easily have access to it. For that to happen, they will have to get the countries
            support and have private companies or the government sponsor sporting
            facilities needed by the youth or the communities. In the sports section,
            we will also be working to promote healthy living to strengthen our people's
            immune systems and mental well-being.

        </p>

        <p style="text-align: justify;">
            There are tons of fashion designers in South Africa with skills to perform
            on the bigger scale. Proudly South African fashion designers were able to
            dress top American celebrities and if you take a drive or walk around CBD's
            in South Africa, you will see the potential and skills that fashion designers
            have across the country. South African local fashion designers are often taken for
            granted because they dwarfed by foreign brands making it extremely hard to be
            recognized or given a chance to prove themselves. We want to create a space for
            local fashion designers to showcase their skills and work. The aim is to promote
            local fashion designer and get them to produce large South African owned brands.
        </p>

        <p style="text-align: justify;">
            South Africa has been making a lot of money from the tourism industry for decades
            but that trend was stopped by lockdowns. There are many places in South Africa that
            can attract tourists from all around the world, besides our history we have dozens
            of tourist attractions in in each on the nine provinces in South Africa. There are
            many famous tourist attractions and there are even more attractions that are yet to
            be visited. The tourism industry created many job opportunities and promoting our
            tourism attractions will invite foreign currencies to our country meaning the economy
            will see growth. We need to promote domestic tourism because many people believe that
            South Africa does not have much to offer as domestic tourism is not being marketed
            or promoted to a greater extent. We want to help domestic tourism and help create
            job opportunities and grow our tourism sector.
        </p>

        <p style="text-align: justify;">
            Sharing a picture of cuisines from all around South Africa is another method of
            promoting South African tourism. South Africa is known for diversity, we have more
            than many African countries and we try by all means be united and embrace the culture
            of our fellow South Africans. Every culture has its own cultural cuisines and some
            share the same cuisines, touring across the country will give tourists chances to
            taste the cuisines belonging to different cultures. In South Africa we have many
            qualified chefs that are trying to prove themselves by opening their own restaurant
            but they do not have the support of their community because large franchises are
            dwarfing their restaurants and taking away all their customers. As it is said in
            the above paragraph, we need to create South African owned for South Africans and
            expand to other countries. Posting the cuisine pictures will show people what they
            are missing by not touring and it should bring customers from all around the country
            (of not the world) to South African restaurants.
        </p>

        <p style="text-align: justify;">
            Many small and medium South African businesses and companies lost a huge amount of money
            and some were forced to close during lockdown, financial assistance is essential at this
            point for businesses. Our goal is to help businesses recover and maybe open other new
            businesses. We are creating a space for businesses to make presentations as investment
            requests for their businesses. Getting investments will help businesses recover quicker
            and selling shares of a business will welcome another brain on to the table and that should
            make growing your business easier and quicker. We think businesses need to recover quick
            and we can reach that goal by working together, what do you think?
        </p>

        <p style="text-align: justify;">
            The agricultural sector has been contributing well to the economy for decades and it is known
            for being very profitable but only a few numbers of people are active in that sector. There are
            many reasons why people are not participating in the agricultural sector, lack of skills,
            lack of patience and lack of funding is some of the reasons why there few people involved in
            the agricultural sector. We will be giving out information that could encourage people see
            the good side of agriculture or even be influenced by other people's success in the agriculture
            sector. We will be sharing stories and tips from real farmers with the aim of educating viewers.
        </p>

        <p style="text-align: justify;">
            We want to create a new South Africa where poverty is low and people are less dependent on the
            government, politics have failed us many times, we are trying to not
            depend on the government. We believe we can change our country if we work smarter and harder, we
            have billions on information on our fingertips and we can use that to our advantage and change
            the country for the better. The content that we post on this website is referenced from the original posts and the links
            to the real posts are embedded either in the image or the comment text next to the image. We
            do not claim ownership of any content that we post on this site, the ownership of the content
            might held by an individual or a website that we forwarded the content from.
        </p>

        <p>Please follow us on social media:</p>
        <ul class="about-icons" style="display: flex; ">
            <a href="https://www.facebook.com/Scrape-101329678824424/?ref=pages_you_manage">
                <img src="static\icons\facebook.png" width="35" height="35" style="box-shadow: 5px 5px 8px #4f0205;">
            </a>
            <a href="https://www.instagram.com/scrapeweb1/">
                <img src="static\icons\instagram.png" width="35" height="35" style="box-shadow: 5px 5px 8px #4f0205;">
            </a>
            <a href="https://twitter.com/Scrape_1">
                <img src="static\icons\twitter.png" width="35" height="35" style="box-shadow: 5px 5px 8px #4f0205;">
            </a>
            <a href="https://www.youtube.com/channel/UCu-FE8zIL1pxqrQLnwlqd5w">
                <img src="static\icons\youtube.png" width="35" height="35" style="box-shadow: 5px 5px 8px #4f0205;">
            </a>
            <a href="mailto:scrapeweb@protonmail.com">
                <img src="static\icons\mail.png" width="35" height="35" style="box-shadow: 5px 5px 8px #4f0205;">
            </a>
        </ul>
        <p>Scrape boundaries and grow!</p>
        <br>
    </div>
</div>
<br>
{% endblock %}