{% extends "base.html" %}
{% block content %}
<div class="container pt-2 bg-#222831">


    <!--
    <div class="posts">
        <h4></h4>
        <div class="posts-container">
            <img src="static\images\farm\">
                <div style="display: block">
                    <p class="story-div" align="center">
                        <a style="color: black;" href="">

                        </a>
                    </p>
                </div>
        </div>
    </div>
    <hr>
    -->


    <div class="posts">
        <h4></h4>
        <div class="posts-container">
            <img src="static\images\farm\">
                <div style="display: block">
                    <p class="story-div" align="center">
                        <a style="color: black;" href="">

                        </a>
                    </p>
                </div>
        </div>
    </div>
    <hr>


    <div class="posts">
        <h4></h4>
        <div class="posts-container">
            <img src="static\images\farm\boer.jpg">
                <div style="display: block">
                    <p class="story-div" align="center">
                        <a style="color: black;" href="https://www.facebook.com/photo?fbid=6497994426892745&set=pcb.6497956200229901">
                            A farmer's best friend and also a farmer's second line of
                            defence, the South African boerboel is a must have for farmers.
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <hr>


    <div class="posts">
        <h4>Tomato growth for dummies</h4>
        <div class="posts-container">
            <img src="static\images\farm\tomatoes.jpg">
                <div style="display: block">
                    <p class="story-div" align="center">
                        <a style="color: black;" href="https://www.facebook.com/Smartgrowersinc/photos/a.322557542777611/348992750134090/">
                            Smart Growers Inc. is giving out free tomato growth
                            tips for people to grow their tomatoes successfully.
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <hr>


    <div class="posts">
        <h4>Sheep farming tips</h4>
        <div class="posts-container">
            <img src="static\images\farm\sheep.jpg">
                <div style="display: block">
                    <p class="story-div" align="center">
                        <a style="color: black;" href="https://www.facebook.com/bokamosoagric/photos/gm.4236548946461382/218756363450625/">
                            Bokamoso Agricultural Project has an advice for new Sheep farmers and
                            there is also important information that you will have to keep in mind before
                            starting sheep farming
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <hr>


    <div class="posts">
        <h4>Potato Farm</h4>
        <div class="posts-container">
            <img src="static\images\farm\potato.jpg">
                <div style="display: block">
                    <p class="story-div" align="center">
                        <a style="color: black;" href="https://www.facebook.com/photo?fbid=1144595922690228&set=pcb.4225554387560838">
                            A beautiful view in a foggy potato farm.
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <hr>


    <div class="posts">
        <h4>Piggery farming advice</h4>
        <div class="posts-container">
            <img src="static\images\farm\devine.jpg">
                <div style="display: block">
                    <p class="story-div" align="center">
                        <a style="color: black;" href="https://www.facebook.com/photo?fbid=120354930285791&set=gm.4236548956461381">
                            Devine Farm is sharing their experience with others about piggery farming.
                            There are things to take into consideration before beginning piggery farm.

                        </a>
                    </p>
                </div>
        </div>
    </div>
    <hr>


    <div class="posts">
        <h4>Some advice for future farmers</h4>
        <div class="posts-container">
            <img src="static\images\farm\advice.jpg">
                <div style="display: block">
                    <p class="story-div" align="center">
                        <a style="color: black;" href="https://www.facebook.com/bokamosoagric/photos/gm.4235362213246722/218392810153647/">
                            Bokamoso Agricultural Project has an advice for new farmers
                            after they had noticed the mistake that farmers have been making.
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <hr>


    <div class="posts">
        <h4>The popular problem plant</h4>
        <div class="posts-container">
            <img src="static\images\farm\black.png">
                <div style="display: block">
                    <p class="story-div" align="center">
                        <a style="color: black;" href="https://www.facebook.com/iMaDeFARM/photos/pcb.256925066207295/256920722874396">
                            The popular problem plant known as a Black Jack plant
                            that is known for growing everywhere is actually medicinal
                            and has many uses.
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <hr>


    <div class="posts">
        <h4>Major sacrifices were made</h4>
        <div class="posts-container">
            <img src="static\images\farm\major.jpg">
                <div style="display: block">
                    <p class="story-div" align="center">
                        <a style="color: black;" href="https://www.facebook.com/iMaDeFARM/photos/pcb.256925066207295/256920722874396">
                            Some people have quite their jobs for farming,
                            if you hard a farm or involved in farming, would you leave
                            your job for your farm?
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <hr>


    <div class="posts">
        <h4>Passion for farming </h4>
        <div class="posts-container">
            <img src="static\images\farm\odds.jpg">
                <div style="display: block">
                    <p class="story-div" align="center">
                        <a style="color: black;" href="https://www.facebook.com/iMaDeFARM/photos/pcb.256925066207295/256920722874396">
                            Sibusiso Mogale has proven time after time that
                            the only thing that can stop you from achieving what you
                            want is you.
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <hr>


    <div class="posts">
        <h4>Poultry farm</h4>
        <div class="posts-container">
            <img src="static\images\Baramakama Poultry.png">
                <div style="display: block">
                    <p class="story-div" align="center">
                        <a style="color: black;" href="https://www.facebook.com/Scrape-101329678824424">
                            What do you call a massive production?
                            A farm with 270 000 birds and produces 245 000 eggs a day,
                            learn about Baramakama Poultry.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    <hr>

<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
    <h1>Agriculture and more</h1>
    <h4> To have your posts on this site write an email to <a style="color: white;" href="mailto:scrapeweb@protonmail.com">scrapeweb@protonmail.com</a></h4>
    <hr>
    <p>When writing an email:</p>
    <ul>
        <li>Include your company name and your full name </li>
        <li>Use your business category as the email subject.</li>
        <li>Clearly indicate your motive and keep the email short.</li>
        <li>Do not attach any link unless we have advised you to do so.</li>
        <li>Include your location (province and region).</li>
        <li>Include your clear face photo to prove your identity in case of company theft.</li>
        <li>Company headquarters location.</li>
        <li>Be professional!</li>
        <li>Your email could be ignored if you fail to follow the instructions above</li>
    </ul>
    <hr>
    <p>To have your ads on this site, write a request mail to <a href="mailto:scrapeweb@protonmail.com">scrapeweb@protonmail.com</a> to receive ad price list </p>
  </div>
</div>
{% endblock %}