{% extends "base.html" %}
{% block content %}
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
    <h1>Art and more</h1>
    <h3> To have your posts on this site write an email to <a href="mailto:scrapeweb@protonmail.com">scrapeweb@protonmail.com</a></h3>
    <hr style="border: 1px solid white;">
    <p>When writing an email:</p>
    <ul>
        <li>Include your company name and your full name </li>
        <li>Use your business category as the email subject.</li>
        <li>Clearly indicate your motive and keep the email short.</li>
        <li>Do not attach any link unless we have advised you to do so.</li>
        <li>Include your location (province and region).</li>
        <li>Include your clear face photo to prove your identity in case of company theft.</li>
        <li>Company headquarters location.</li>
        <li>Be professional!</li>
        <li>Your email could be ignored if you fail to follow the instructions above</li>
    </ul>
    <hr style="border: 1px solid white;">
    <p>To have your ads on this site, write a request mail to <a href="mailto:scrapeweb@protonmail.com">scrapeweb@protonmail.com</a> to receive ad price list </p>
      <br>
  </div>
</div>
{% endblock %}