{% extends "base.html" %}
{% block content %}
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
     <h3>Available connections</h3>
     <br>
  </div>
</div>
<br>
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
     <h3>Agriculture and more</h3>
      <hr class="hr-tag">
     <p>contacts</p>
     <br>
  </div>
</div>
<br>
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
     <h3>Art and more</h3>
      <hr class="hr-tag">
     <p>contacts</p>
     <br>
  </div>
</div>
<br>
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
     <h3>Business and more</h3>
      <hr class="hr-tag">
     <p>contacts</p>
     <br>
  </div>
</div>
<br>
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
     <h3>Education and more</h3>
      <hr class="hr-tag">
     <p>contacts</p>
     <br>
  </div>
</div>
<br>
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
     <h3>Events and more</h3>
      <hr class="hr-tag">
     <p>contacts</p>
     <br>
  </div>
</div>
<br>
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
     <h3>Fashion and more</h3>
      <hr class="hr-tag">
     <p>contacts</p>
     <br>
  </div>
</div>
<br>
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
     <h3>Music and more</h3>
      <hr class="hr-tag">
     <p>contacts</p>
     <br>
  </div>
</div>
<br>
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
     <h3>Tech and more</h3>
      <hr class="hr-tag">
     <p>contacts</p>
     <br>
  </div>
</div>
<br>
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
     <h3>Tourism and more</h3>
      <hr class="hr-tag">
     <p>contacts</p>
     <br>
  </div>
</div>
<br>
{% endblock %}