{% extends "base.html" %}
{% block content %}
<div class="container pt-2 bg-#222831">


    <div class="posts">
        <h3 style="padding: 0px 5px 0px 0px;">Cologne Hub</h3>
            <div class="posts-container">
                <img src="static\images\cologne-hub.jpeg">
                    <div style="display: block; padding: 0px 5px 0px 5px;">
                        <p class="story-div" align="center">
                           Cologne-Hub
                        </p>
                        <p style="background-color:#c0c0c0; border-radius: 10px;">
                          <img style="width:20px; padding: 0px 0px 0px 0px;" src="static\icons\location.png">
                            Gauteng, Soshanguve South
                        </p>
                    </div>
            </div>
    </div>
    <hr>

    <!--Eve-intro-->
    <div class="posts">
        <h4>Eve Model And Makeup Artist</h4>
            <div class="posts-container">
                <img src="static\images\eve-fashion.jpeg">
                    <div style="display: block;">
                        <img src="static\images\Eve-makeup.jpeg">
                            <p style="background-color:#c0c0c0; border-radius: 10px; padding: 0px 0px 0px 0px;">
                                <img style="width:20px; padding: 0px 0px 0px 0px;" src="static\icons\location.png">KZN, Durban
                            </p>
                    </div>
            </div>
    </div>
    <hr>



</div>

<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
    <h1>Business and more</h1>
    <h4> To have your posts on this site write an email to <a style="color: white;" href="mailto:scrapeweb@protonmail.com">scrapeweb@protonmail.com</a></h4>
    <hr style="border: 1px solid white;">
    <p>When writing an email:</p>
    <ul>
        <li>Include your company name and your full name </li>
        <li>Use your business category as the email subject.</li>
        <li>Clearly indicate your motive and keep the email short.</li>
        <li>Do not attach any link unless we have advised you to do so.</li>
        <li>Include your location (province and region).</li>
        <li>Include your clear face photo to prove your identity in case of company theft.</li>
        <li>Company headquarters location.</li>
        <li>Be professional!</li>
        <li>Your email could be ignored if you fail to follow the instructions above</li>
    </ul>
    <hr style="border: 1px solid white;">
    <p>To have your ads on this site, write a request mail to <a href="mailto:scrapeweb@protonmail.com">scrapeweb@protonmail.com</a> to receive ad price list </p>
      <br>
  </div>
</div>



</div>
{% endblock %}