{% extends "base.html" %}
{% block content %}
<div class="container pt-2 bg-#222831">
    <div class="cover-layer">


        <div class="music-posts">
            <div class="music-posts-container">
                <h5>Pin: 12</h5>
                    <a class="main-image-container" href="https://www.google.com/maps/uv?pb=!1s0x1e9459ee84f4e8e1%3A0x4bcec787ce140d10!3m1!7e131!5sE2%20designs%20fashion%20house!15sCgIgAQ&hl=en-GB&imagekey=!1e10!2sAF1QipMYc4x_ZC-dwtiYNJqNjG6UDRJmrB1WUGSiffqt">
                        <img class="main-image" src="static\images\fashion\pin_12.png">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5>Pin: 11</h5>
                    <a class="main-image-container" href="https://www.facebook.com/photo?fbid=1076886072841608&set=gm.822457511749983">
                        <img class="main-image" src="static\images\pin_11.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5>Pin: 10</h5>
                    <a class="main-image-container" href="https://www.facebook.com/photo?fbid=833568527535536&set=pcb.807564503239284">
                        <img class="main-image" src="static\images\pin_10.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5>Pin: 9</h5>
                    <a class="main-image-container" href="https://www.facebook.com/photo?fbid=1974218086078885&set=pcb.817089585620109">
                        <img class="main-image" src="static\images\pin_9.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5>Pin: 8</h5>
                    <a class="main-image-container" href="https://www.facebook.com/photo?fbid=1974218086078885&set=pcb.817089585620109">
                        <img class="main-image" src="static\images\pin_8.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5>Pin: 7</h5>
                    <a class="main-image-container" href="https://www.facebook.com/photo?fbid=2958845634372065&set=pcb.773098366685898">
                        <img class="main-image" src="static\images\pin_7.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5>Pin: 6</h5>
                    <a class="main-image-container" href="https://www.facebook.com/photo?fbid=558881021944157&set=pcb.820627785266289">
                        <img class="main-image" src="static\images\pin_6.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5>Pin: 5</h5>
                    <a class="main-image-container" href="https://www.facebook.com/photo?fbid=1491300447881751&set=pcb.821410798521321">
                        <img class="main-image" src="static\images\pin_5.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5>Pin: 4</h5>
                    <a class="main-image-container" href="https://www.facebook.com/photo?fbid=1245788479185022&set=pcb.821048238557577">
                        <img class="main-image" src="static\images\pin_4.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5>Pin: 3</h5>
                    <a class="main-image-container" href="https://www.facebook.com/photo?fbid=520635692541445&set=gm.821889441806790">
                        <img class="main-image" src="static\images\pin_3.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5>Pin: 2</h5>
                    <a class="main-image-container" href="https://www.facebook.com/photo?fbid=555646155438348&set=gm.819667248695676">
                        <img class="main-image" src="static\images\pin_2.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5>Pin: 1</h5>
                    <a class="main-image-container" href="https://www.facebook.com/photo?fbid=1076330519563830&set=gm.821906601805074">
                        <img class="main-image" src="static\images\pin_1.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>

    </div>
</div>

<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
    <h1>Fashion and more</h1>
    <h4> To have your posts on this site write an email to <a style="color: white; font-size: 70%;" href="mailto:scrapeweb@protonmail.com">scrapeweb@protonmail.com</a></h4>
    <hr style="border: 1px solid white;">
    <p>When writing an email:</p>
    <ul>
        <li>Include your company name and your full name </li>
        <li>Use your business category as the email subject.</li>
        <li>Clearly indicate your motive and keep the email short.</li>
        <li>Do not attach any link unless we have advised you to do so.</li>
        <li>Include your location (province and region).</li>
        <li>Include your clear face photo to prove your identity in case of company theft.</li>
        <li>Company headquarters location.</li>
        <li>Be professional!</li>
        <li>Your email could be ignored if you fail to follow the instructions above</li>
    </ul>
    <hr style="border: 1px solid white;">
    <p>To have your ads on this site, write a request mail to <a href="mailto:scrapeweb@protonmail.com">scrapeweb@protonmail.com</a> to receive ad price list </p>
      <br>
  </div>
</div>
{% endblock %}