{% extends "base.html" %}
{% block content %}
<div class="container pt-2 bg-#222831">
    <div class="cover-layer">


        <!--
        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;"></h5>
                    <a href="">
                        <img class="main-image" src="static\images\music\.jpg">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>
        -->


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Baraka Beatz, Duffle Bag</h5>
                    <a href="https://www.youtube.com/watch?v=yfunMkOK2dQ&list=OLAK5uy_mLsLNHS0X8m_xtZn3okbvM36V6PnQTZP8">
                        <img class="main-image" src="static\images\music\baraka.png">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">CIR3, SOS FVM</h5>
                    <a href="https://soundcloud.com/user-344217163/sets/sos-fvm">
                        <img class="main-image" src="static\images\music\cir3.png">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Mok-G ft MsFuture</h5>
                    <a href="https://youtu.be/rBvsPl64QCQ">
                        <img class="main-image" src="static\images\mokg.jpg">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Kemang ft Teddy Hood, Tipstar</h5>
                    <a href="https://soundcloud.com/user-858452376/kemang-ft-teddy-hood-tipstar?ref=clipboard&p=a&c=1&utm_campaign=social_sharing&utm_medium=text&utm_source=clipboard">
                        <img class="main-image" src="static\images\kemang.png">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Soprano KIID</h5>
                    <a href="https://audiomack.com/soprano-kiid/song/only-you">
                        <img class="main-image" src="static\images\soprano.png">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>

    </div>
</div>
{% endblock %}