{% extends "base.html" %}
{% block content %}
<div class="container pt-2 bg-#222831">
    <div class="cover-layer">


        <!--
        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;"></h5>
                    <a href="">
                        <img class="main-image" src="static\images\music\.png">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>
        -->


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Baraka Beatz ft RasMighty, Sondela</h5>
                    <a href="https://music.youtube.com/watch?v=eRot_j_dv8M&list=RDAMVMeRot_j_dv8M">
                        <img class="main-image" src="static\images\music\rasmighty.png">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">MattyEm_SA ft Narco-Deep SA, Ngizomlobola</h5>
                    <a href="https://www.youtube.com/watch?v=rbuOQbYLtfM">
                        <img class="main-image" src="static\images\music\mattyem.png">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>



    </div>
</div>
{% endblock %}