{% extends "base.html" %}
{% block content %}

<ol style="background-color: white; color: #810000; padding: 10px;">
    <span class="close">&times;</span>
    Before investing or buying shares in any company or business
    below, keep in mind that you will be doing that at your own
    risk. You will need to conducts your own research on the companies
    that you will be investing or buying shares in and we will not
    claim any responsibility for your loss. Spend money wisely.
</ol>

<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
    <div class="container pt-2">
        <h4 align="center" style="text-decoration: underline;">
            Invest and Purchase shares
        </h4>
    </div>
    <br>
</div>
<br>

<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
    <div class="container pt-2">

        <div>
            <h5 style="font-weight: bold;">Investment presentations</h5>
            <hr>

            <!--
            <a style="padding: 10px 0px" href="">
                <ul>
                    <h5>
                        Presentations
                    </h5>
                </ul>
            </a>
            -->
            <a style="padding: 10px 0px" href="">
                <ul>
                    <h5>
                        Presentations
                    </h5>
                </ul>
            </a>

            <br>
        </div>
    </div>
</div>
<br>


<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
    <div class="container pt-2">

        <div>
            <h5 style="font-weight: bold;">Shares up for sale</h5>
            <hr>

            <!--
            <a style="padding: 10px 0px" href="">
                <ul>
                    <h5>
                        Presentations
                    </h5>
                </ul>
            </a>
            -->

            <h5>
                ≥ R4 500.00
            </h5>



            <h5>
                ≥ R10 000.00
            </h5>


            <br>
        </div>

    </div>
</div>
<br>

<script>
    var closebtns = document.getElementsByClassName("close");
    var i;

    for (i = 0; i < closebtns.length; i++) {
      closebtns[i].addEventListener("click", function() {
        this.parentElement.style.display = 'none';
      });
    }
</script>

<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
    <h2 style="text-decoration: underline;">Investing and more</h2>
    <h4> To have your posts on this site write an email to <a style="color: white;" href="mailto:scrapeweb@protonmail.com">scrapeweb@protonmail.com</a></h4>
    <hr style="border: 1px solid white;">
    <p>When writing an email:</p>
    <ul>
        <li>Include your company name and your full name </li>
        <li>Use your business category as the email subject.</li>
        <li>Clearly indicate your motive and keep the email short.</li>
        <li>Do not attach any link unless we have advised you to do so.</li>
        <li>Include your location (province and region).</li>
        <li>Include your clear face photo to prove your identity in case of company theft.</li>
        <li>Company headquarters location.</li>
        <li>Be professional!</li>
        <li>Your email could be ignored if you fail to follow the instructions above</li>
    </ul>
    <hr style="border: 1px solid white;">
    <p>To have your ads on this site, write an email to <a href="mailto:scrapeweb@protonmail.com">scrapeweb@protonmail.com</a> to receive ad price list </p>
      <br>
  </div>
</div>
<br>
{% endblock %}