{% extends "base.html" %}
{% block content %}
<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
      <h4>Music genres</h4>
      <hr style="color: white;">
        <ul class="music-blocks">
            <a href="{{ url_for('popular') }}">
                <ul>Popular Music</ul>
            </a>
            <a href="{{ url_for('hiphop') }}">
                <ul>Hip Hop Music</ul>
            </a>
            <a href="{{ url_for('house') }}">
                <ul>House Music</ul>
            </a>
            <a href="{{ url_for('rnb') }}">
                <ul>Pop & RnB Music</ul>
            </a>
            <a href="{{ url_for('jazz') }}">
                <ul>Jazz Music</ul>
            </a>
            <a href="{{ url_for('culture') }}">
                <ul>Culture Music</ul>
            </a>
            <a href="{{ url_for('other') }}">
                <ul>Other</ul>
            </a>
        </ul>
      <br>
  </div>
</div>


{% endblock %}