{% extends "base.html" %}
{% block content %}
<div class="container pt-2 bg-#222831">
    <div class="cover-layer">


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Soprano KIID</h5>
                    <a href="https://audiomack.com/soprano-kiid/song/only-you">
                        <img class="main-image" src="static\images\soprano.png">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Soprano KIID ft JayWeez, x Pink</h5>
                    <a href="https://audiomack.com/soprano-kiid/song/sex-flix">
                        <img class="main-image" src="static\images\soprano_sex_flix.png">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Soprano KIID</h5>
                    <a href="https://audiomack.com/soprano-kiid/song/only-you">
                        <img class="main-image" src="static\images\soprano.png">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Mok-G ft MsFuture</h5>
                    <a href="https://youtu.be/rBvsPl64QCQ">
                        <img class="main-image" src="static\images\mokg.jpg">
                    </a>
                <h5>Click the image to play</h5>
            </div>
        </div>
        <br>

    </div>

</div>
{% endblock %}