{% extends "base.html" %}
{% block content %}
<div class="container pt-2 bg-#222831">
    <div class="cover-layer">


        <!--<div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;"></h5>
                    <a href="">
                        <img class="main-image" src="static\images\pic_.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>-->


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Garden Castle Nature Reserve</h5>
                    <a href="https://www.facebook.com/photo?fbid=10159519227362640&set=pcb.1165842777174196">
                        <img class="main-image" src="static\images\pic_26.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Magalies River Valley</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10157448842088675/">
                        <img class="main-image" src="static\images\pic_25.png">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Kiara Lodge</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10157947873738675/">
                        <img class="main-image" src="static\images\pic_24.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Jonkershoek Mountains</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10158037048738675/">
                        <img class="main-image" src="static\images\pic_23.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Kloof Corner, Table mountain</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10158358499368675">
                        <img class="main-image" src="static\images\pic_22.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;"> Royal Natal National Park</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10158444034308675/">
                        <img class="main-image" src="static\images\pic_21.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Blyde River Canyon</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.10158965106173675/10158984505438675/">
                        <img class="main-image" src="static\images\pic_20.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Mtunzini</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10159034817643675/">
                        <img class="main-image" src="static\images\pic_19.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Port St Johns</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10159187323438675/">
                        <img class="main-image" src="static\images\pic_18.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Wolkberg Wilderness Mountain</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10159210058803675/">
                        <img class="main-image" src="static\images\pic_17.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Hondeklip Bay</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10159259834228675/">
                        <img class="main-image" src="static\images\pic_16.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Magwa Falls</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10159355402998675/">
                        <img class="main-image" src="static\images\pic_15.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Augrabies Falls</h5>
                    <a href="https://www.facebook.com/shotleft/photos/pcb.10159412482583675/10159412473523675/">
                        <img class="main-image" src="static\images\pic_14.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Ledges Cave, Drakensberg</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10159471356173675/">
                        <img class="main-image" src="static\images\pic_13.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Glorious Gudu Falls</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10159525982093675/">
                        <img class="main-image" src="static\images\pic_12.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Tsitsikamma</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.10150673459788675/10159531397723675/">
                        <img class="main-image" src="static\images\pic_11.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Greyton, CPT</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.10150673459788675/10159542964843675/">
                        <img class="main-image" src="static\images\pic_10.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Ballito</h5>
                    <a href="https://www.facebook.com/shotleft/photos/pcb.10159581539243675/10159581538723675">
                        <img class="main-image" src="static\images\pic_9.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Boulders Beach</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10159598025578675/">
                        <img class="main-image" src="static\images\pic_8.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Drakensburg Amphitheatre</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.10150673459788675/10159632850793675/">
                        <img class="main-image" src="static\images\pic_7.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Glenogle Farm</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10159650474368675/">
                        <img class="main-image" src="static\images\pic_6.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Tsitsikamma Forests</h5>
                    <a href="https://www.facebook.com/shotleft/photos/pcb.10159709124393675/10159709124228675">
                        <img class="main-image" src="static\images\pic_5.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Magaliesburg, Rustig Hiking Trails</h5>
                    <a href="https://www.facebook.com/photo?fbid=5290277554398589&set=gm.1164997207258753">
                        <img class="main-image" src="static\images\pic_3.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Manaba Beach</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10159723336788675/">
                        <img class="main-image" src="static\images\pic_4.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


         <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Kruger National Park</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10159773673468675/">
                        <img class="main-image" src="static\images\pic_2.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Sterkfontein Dam Nature Reserve</h5>
                    <a href="https://www.facebook.com/shotleft/photos/a.96808148674/10159727658948675/">
                        <img class="main-image" src="static\images\pic_0.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">Magaliesburg, Rustig Hiking Trails</h5>
                    <a href="https://www.facebook.com/photo?fbid=3004120933178969&set=pcb.3004121789845550">
                        <img class="main-image" src="static\images\pic_1.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>


        <div class="music-posts">
            <div class="music-posts-container">
                <h5 style="text-decoration: underline; font-weight: bold;">KZN, Durban</h5>
                    <a href="https://twitter.com/Scrape_1/status/1410728086853718022/photo/1">
                        <img class="main-image" src="static\images\wall.jpg">
                    </a>
                <h5>Click the image to comment</h5>
            </div>
        </div>
        <br>

    </div>
</div>

<div class="container pt-2" style="background-color: #810000; border-radius: 8px; color: white">
  <div class="container pt-2">
    <h1>Tourism and more</h1>
    <h4> To have your posts on this site write an email to <a style="color: white;" href="mailto:scrapeweb@protonmail.com">scrapeweb@protonmail.com</a></h4>
    <hr style="border: 1px solid white;">
    <p>When writing an email:</p>
    <ul>
        <li>Include your company name and your full name </li>
        <li>Use your business category as the email subject.</li>
        <li>Clearly indicate your motive and keep the email short.</li>
        <li>Do not attach any link unless we have advised you to do so.</li>
        <li>Include your location (province and region).</li>
        <li>Include your clear face photo to prove your identity in case of company theft.</li>
        <li>Company headquarters location.</li>
        <li>Be professional!</li>
        <li>Your email could be ignored if you fail to follow the instructions above</li>
    </ul>
    <hr style="border: 1px solid white;">
    <p>To have your ads on this site, write a request mail to
        <a href="mailto:scrapeweb@protonmail.com">scrapeweb@protonmail.com</a>
        to receive ad price list
    </p>
      <br>
  </div>
</div>
<br>

{% endblock %}